name: Cypress Tests
on: [push]
jobs:
 Cypress-Test:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout GitCode
       uses: actions/checkout@v2
 
     - name: Run Cypress Test
       uses: cypress-io/github-action@v4
       with: 
         name: Mochawesome HTML report-addtoCart
         path: cypress/reports/html

     - name: Slack Notification
       if: always()
       uses: rtCamp/action-slack-notify@v2
       env:
        SLACK_COLOR: ${{ job.status }} # or a specific color like 'good' or '#ff00ff'
        SLACK_ICON: https://github.com/rtCamp.png?size=48
        SLACK_MESSAGE: 'Test Automation Report https://github.com/isaiahkipkorir1994/Cypress-E2E/actions/runs/${{github.run_id}}'
        SLACK_TITLE: Cypress Web Test
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHHOOK }}